<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-a
    </ng-template>
    <ng-template pTemplate>
        Map 2-a
    </ng-template>
    <ng-template pTemplate>
        Map 3-a
    </ng-template>
    <ng-template pTemplate>
        Map 4-a
    </ng-template>
    <ng-template pTemplate>
        Map 5-a
    </ng-template>
    <ng-template pTemplate>
        Map 6-a
    </ng-template>
    <ng-template pTemplate>
        Map 7-a
    </ng-template>
    <ng-template pTemplate>
        Map 8-a
    </ng-template>
    <ng-template pTemplate>
        Map 9-a
    </ng-template>
    <ng-template pTemplate>
        Map 10-a
    </ng-template>
    <ng-template pTemplate>
        Map 11-a
    </ng-template>
    <ng-template pTemplate>
        Map 12-a
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-b
    </ng-template>
    <ng-template pTemplate>
        Map 2-b
    </ng-template>
    <ng-template pTemplate>
        Map 3-b
    </ng-template>
    <ng-template pTemplate>
        Map 4-b
    </ng-template>
    <ng-template pTemplate>
        Map 5-b
    </ng-template>
    <ng-template pTemplate>
        Map 6-b
    </ng-template>
    <ng-template pTemplate>
        Map 7-b
    </ng-template>
    <ng-template pTemplate>
        Map 8-b
    </ng-template>
    <ng-template pTemplate>
        Map 9-b
    </ng-template>
    <ng-template pTemplate>
        Map 10-b
    </ng-template>
    <ng-template pTemplate>
        Map 11-b
    </ng-template>
    <ng-template pTemplate>
        Map 12-b
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-c
    </ng-template>
    <ng-template pTemplate>
        Map 2-c
    </ng-template>
    <ng-template pTemplate>
        Map 3-c
    </ng-template>
    <ng-template pTemplate>
        Map 4-c
    </ng-template>
    <ng-template pTemplate>
        Map 5-c
    </ng-template>
    <ng-template pTemplate>
        Map 6-c
    </ng-template>
    <ng-template pTemplate>
        Map 7-c
    </ng-template>
    <ng-template pTemplate>
        Map 8-c
    </ng-template>
    <ng-template pTemplate>
        Map 9-c
    </ng-template>
    <ng-template pTemplate>
        Map 10-c
    </ng-template>
    <ng-template pTemplate>
        Map 11-c
    </ng-template>
    <ng-template pTemplate>
        Map 12-c
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-d
    </ng-template>
    <ng-template pTemplate>
        Map 2-d
    </ng-template>
    <ng-template pTemplate>
        Map 3-d
    </ng-template>
    <ng-template pTemplate>
        Map 4-d
    </ng-template>
    <ng-template pTemplate>
        Map 5-d
    </ng-template>
    <ng-template pTemplate>
        Map 6-d
    </ng-template>
    <ng-template pTemplate>
        Map 7-d
    </ng-template>
    <ng-template pTemplate>
        Map 8-d
    </ng-template>
    <ng-template pTemplate>
        Map 9-d
    </ng-template>
    <ng-template pTemplate>
        Map 10-d
    </ng-template>
    <ng-template pTemplate>
        Map 11-d
    </ng-template>
    <ng-template pTemplate>
        Map 12-d
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-e
    </ng-template>
    <ng-template pTemplate>
        Map 2-e
    </ng-template>
    <ng-template pTemplate>
        Map 3-e
    </ng-template>
    <ng-template pTemplate>
        Map 4-e
    </ng-template>
    <ng-template pTemplate>
        Map 5-e
    </ng-template>
    <ng-template pTemplate>
        Map 6-e
    </ng-template>
    <ng-template pTemplate>
        Map 7-e
    </ng-template>
    <ng-template pTemplate>
        Map 8-e
    </ng-template>
    <ng-template pTemplate>
        Map 9-e
    </ng-template>
    <ng-template pTemplate>
        Map 10-e
    </ng-template>
    <ng-template pTemplate>
        Map 11-e
    </ng-template>
    <ng-template pTemplate>
        Map 12-e
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-f
    </ng-template>
    <ng-template pTemplate>
        Map 2-f
    </ng-template>
    <ng-template pTemplate>
        Map 3-f
    </ng-template>
    <ng-template pTemplate>
        Map 4-f
    </ng-template>
    <ng-template pTemplate>
        Map 5-f
    </ng-template>
    <ng-template pTemplate>
        Map 6-f
    </ng-template>
    <ng-template pTemplate>
        Map 7-f
    </ng-template>
    <ng-template pTemplate>
        Map 8-f
    </ng-template>
    <ng-template pTemplate>
        Map 9-f
    </ng-template>
    <ng-template pTemplate>
        Map 10-f
    </ng-template>
    <ng-template pTemplate>
        Map 11-f
    </ng-template>
    <ng-template pTemplate>
        Map 12-f
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-g
    </ng-template>
    <ng-template pTemplate>
        Map 2-g
    </ng-template>
    <ng-template pTemplate>
        Map 3-g
    </ng-template>
    <ng-template pTemplate>
        Map 4-g
    </ng-template>
    <ng-template pTemplate>
        Map 5-g
    </ng-template>
    <ng-template pTemplate>
        Map 6-g
    </ng-template>
    <ng-template pTemplate>
        Map 7-g
    </ng-template>
    <ng-template pTemplate>
        Map 8-g
    </ng-template>
    <ng-template pTemplate>
        Map 9-g
    </ng-template>
    <ng-template pTemplate>
        Map 10-g
    </ng-template>
    <ng-template pTemplate>
        Map 11-g
    </ng-template>
    <ng-template pTemplate>
        Map 12-g
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-h
    </ng-template>
    <ng-template pTemplate>
        Map 2-h
    </ng-template>
    <ng-template pTemplate>
        Map 3-h
    </ng-template>
    <ng-template pTemplate>
        Map 4-h
    </ng-template>
    <ng-template pTemplate>
        Map 5-h
    </ng-template>
    <ng-template pTemplate>
        Map 6-h
    </ng-template>
    <ng-template pTemplate>
        Map 7-h
    </ng-template>
    <ng-template pTemplate>
        Map 8-h
    </ng-template>
    <ng-template pTemplate>
        Map 9-h
    </ng-template>
    <ng-template pTemplate>
        Map 10-h
    </ng-template>
    <ng-template pTemplate>
        Map 11-h
    </ng-template>
    <ng-template pTemplate>
        Map 12-h
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-i
    </ng-template>
    <ng-template pTemplate>
        Map 2-i
    </ng-template>
    <ng-template pTemplate>
        Map 3-i
    </ng-template>
    <ng-template pTemplate>
        Map 4-i
    </ng-template>
    <ng-template pTemplate>
        Map 5-i
    </ng-template>
    <ng-template pTemplate>
        Map 6-i
    </ng-template>
    <ng-template pTemplate>
        Map 7-i
    </ng-template>
    <ng-template pTemplate>
        Map 8-i
    </ng-template>
    <ng-template pTemplate>
        Map 9-i
    </ng-template>
    <ng-template pTemplate>
        Map 10-i
    </ng-template>
    <ng-template pTemplate>
        Map 11-i
    </ng-template>
    <ng-template pTemplate>
        Map 12-i
    </ng-template>
</p-splitter>
<p-splitter [style]="{'height': '50px'}">
    <ng-template pTemplate>
        Map 1-j
    </ng-template>
    <ng-template pTemplate>
        Map 2-j
    </ng-template>
    <ng-template pTemplate>
        Map 3-j
    </ng-template>
    <ng-template pTemplate>
        Map 4-j
    </ng-template>
    <ng-template pTemplate>
        Map 5-j
    </ng-template>
    <ng-template pTemplate>
        Map 6-j
    </ng-template>
    <ng-template pTemplate>
        Map 7-j
    </ng-template>
    <ng-template pTemplate>
        Map 8-j
    </ng-template>
    <ng-template pTemplate>
        Map 9-j
    </ng-template>
    <ng-template pTemplate>
        Map 10-j
    </ng-template>
    <ng-template pTemplate>
        Map 11-j
    </ng-template>
    <ng-template pTemplate>
        Map 12-j
    </ng-template>
</p-splitter>