<h2>Seu exército</h2>
<table border="1">
    <tr>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/lança.jpg" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/espada.png" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/arco.png" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/alabarda.jpg" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/cavalo.png" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/balista.jpg" alt="lança" width="35px"></a></td>
    </tr>
    <tr>
        <td>100</td>
        <td>22</td>
        <td>80</td>
        <td>10</td>
        <td>22</td>
        <td>2</td>
    </tr>
</table><br>
<button *ngIf="!atacando" pButton type="button" label="Atacar" class="p-button-danger p-button-raised p-button-rounded" (click)="emAtaque()"></button>
<button  *ngIf="atacando" pButton type="button" label="Cancelar ataque" class="p-button-info p-button-raised p-button-rounded" (click)="emAtaque()"></button>
<h2 *ngIf="atacando">Em batalha</h2>
<table border="1" *ngIf="atacando">
    <tr>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/lança.jpg" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/espada.png" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/arco.png" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/alabarda.jpg" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/cavalo.png" alt="lança" width="35px"></a></td>
        <td><a [routerLink]="['/sobre']"><img src="../../assets/balista.jpg" alt="lança" width="35px"></a></td>
    </tr>
    <tr>
        <td>15</td>
        <td>5</td>
        <td>20</td>
        <td>2</td>
        <td>3</td>
        <td>1</td>
    </tr>
</table>